// Semantic hiearchical structure styles
// Selector: HTML Types only, with eventual structural Operators like >, + …
// TODO Reorg among component.scss, context.scss, structure.scss, unique.scss

h2 {
  margin: 0 0 var(--spacing) 0;
  color: var(--primary);
  font-size: 1.2em;
  cursor: pointer;
  clear: both;
}

p {
  margin: var(--spacing) 0;
  color: var(--secondary);
  line-height: 1.5;
}

a {
  color: var(--more);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
a.edit,
a.add {
  padding: var(--spacing);
  opacity: 0.8;
  transition: opacity 0.2s;
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  background: none;
  font-size: 1.1em;
  border: 1px solid var(--more);

  &:hover {
    opacity: 1;
  }
}

// Icon-only circular buttons ➕, 🔄, ✏️, 💾, ✅, ☑️, 🗑️, ❌, ▶️, ⏸️
button:not(.label),
a.edit:not(.label),
a.add:not(.label) {
  width: var(--btn-width);
  height: var(--btn-width);
  border-radius: 50%;
  padding: 0;
  line-height: 1; // TEST if really useful
  display: inline-flex; // TEST if really useful
  align-items: center; // TEST if really useful
  justify-content: center; // TEST if really useful
  font-weight: bold;
}

#main>button {
  display: block;
  margin: var(--spacing) auto;
}

ul,
ol {
  margin: var(--spacing) 0 0 0;
  padding-left: var(--bullets-space);
  color: var(--secondary);
  line-height: 1.8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputs {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  white-space: nowrap;
  width: 100%;
}

.inputs a,
.inputs button {
  width: var(--btn-width);
  height: var(--btn-width);
  border-radius: 50%;
  font-weight: bold;
  line-height: 1;
}

select,
input[type=text],
input[type=url],
input[type=number] {
  padding: var(--spacing);
  border: 1px solid var(--separation);
  border-radius: var(--radius);
  color: inherit;
  background: var(--article);
}

input[type=number] {
  width: 7ch;
}


input[type=url],
input[type=text] {
  min-width: 12ch;
  width: 100%;
}

label {
  display: inline-block;
  margin: var(--spacing) 0;
  font-weight: bold;
  color: var(--secondary);
}

.muscle-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  >div {
    padding: 6px var(--spacing);
    background: var(--more);
    color: white;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    gap: 8px;

    &.secondary {
      background: var(--separation);
      color: var(--secondary);
    }

    >button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1.2em;
      padding: 0;
      line-height: 1;
    }
  }
}

button.add,
a.add {
  background: var(--more); // Add / Create ➕
  font-size: 2em; // Bare + sign
}

button.edit,
a.edit {
  border-color: var(--edit); // Edit ✏️ / Save 💾
}

button.yes {
  border-color: var(--save); // Confirm ✅ / Complete ✔️
}

button.no {
  border-color: var(--no); // Delete 🗑️ / Cancel ❌
}

article {
  padding: var(--spacing);
  border: 1px solid var(--separation);
  border-radius: var(--radius);
  background: var(--article);
}

main.session article {
  margin: 0 auto;
}

time {
  display: inline-block;
  color: var(--secondary);
}

article>header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--spacing);
  justify-content: space-between;
  flex: 1;
}

article>header>* {
  padding: var(--spacing);
}

article>header span {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--secondary);
  white-space: nowrap;
}

article>ul,
article>header>ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  margin: 0;
  list-style: none;
  padding: 0;

  li {
    padding: calc(var(--spacing) / 2) var(--spacing);
    background: var(--separation);
    border-radius: var(--radius);

    &.category {
      background: var(--tag-category);
      color: var(--primary);
    }

    &.force {
      background: var(--tag-force);
      color: var(--primary);
    }

    &.equipment {
      background: var(--tag-equipment);
      color: var(--primary);
    }

    &.level {
      background: var(--tag-level);
      color: var(--on-light);
    }

    &.primary-muscle {
      background: var(--tag-primary-muscle);
      color: var(--primary);
    }

    &.secondary-muscle {
      background: var(--tag-secondary-muscle);
      color: var(--on-light);
    }

    &.tag-strength {
      background: var(--tag-strength);
      color: var(--primary);
    }

    &.tag-cardio {
      background: var(--tag-cardio);
      color: var(--primary);
    }

    &.tag-static {
      background: var(--tag-static);
      color: var(--primary);
    }
  }
}

article button:hover {
  background: var(--separation);
}

article ol {
  margin: var(--spacing) 0;
  padding-left: var(--bullets-space);
  color: var(--secondary);
  font-size: 0.9em;
  line-height: 1.5;
}

article img {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 20vh;
  border-radius: var(--radius);
  margin: 0 auto 10px auto;
  cursor: pointer;
}

.metric-selector {
  margin: 0 auto var(--spacing) auto;
  display: flex;
  align-items: center;
  gap: var(--spacing);
  max-width: var(--column);
}

.exercise-selector {
  margin: 0 auto var(--spacing) auto;
  display: flex;
  align-items: center;
  gap: var(--spacing);
  max-width: var(--column);

  >div {
    width: 20px;
    height: 20px;
    border-radius: var(--radius);
    flex-shrink: 0;
  }

  select {
    flex: 1;
  }
}

article footer,
header.session {
  display: flex;
  gap: var(--spacing);
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
  }
}