// Rules targetting one or a few precise elements on the whole site
#main>nav {
  position: sticky;
  bottom: 0;
  margin: auto auto 0 auto;
  height: max-content;
  background: var(--article);
  border-top: 1px solid var(--separation);
  display: flex;
  border-radius: var(--radius) var(--radius) 0 0;
  z-index: var(--z-nav);

  a {
    padding: var(--spacing);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1;
    opacity: .6;

    &.active {
      opacity: 1;
    }
  }
}

main.session>section.exercises {
  margin: 0 auto;
  max-width: max-content;

  article {
    gap: var(--spacing);
    margin-bottom: var(--spacing);

    button {
      margin-left: auto;
    }
  }
}


main.session>article {
  max-width: max-content;

  h3 {
    margin-right: auto;
  }
}